.Col {
    display: flex;
    flex-direction: column;
}
.Product-col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.Product {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 322px);
    grid-auto-rows: minmax(570px,1fr);
}

.Goods-products {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-height: 100%;
    width: 100%;
    padding-bottom: 100px;
}

@media only screen and (max-width: 600px) {
    .Product {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: minmax(323px,1fr);
        width: 90%;
        grid-gap: 10px;
    }
}