.Col {
    display: flex;
    flex-direction: column;
}
.Product-col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.Product {
    width: 80%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: minmax(570px,1fr);
}

.Goods-products {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-height: 100%;
    width: 100%;
    padding-bottom: 100px;
}
