.Col {
    display: flex;
    flex-direction: column;
}
.Product-col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.Product {
    width: 80%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 600px;
}
