.Goods {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-height: 100%;
    width: 85%;
    margin-top: 120px;
    padding-bottom: 100px;
}

@media only screen and (max-width: 600px) {

    .Goods {
        width: 100%;
    }

}