.Filters-container {
    display: flex;
    margin: 37px 0 23px 0;
        align-items: flex-start;
    width: 80%;

}

.Checkbox-container_filt.Checkbox-container_filt {
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .Checkbox-container_filt.Checkbox-container_filt {
        padding-left: 34px;

    }

    .Checkmark {
        height: 20px;
        width: 20px;
    }

    .Checkbox-container .Checkmark::after {
        width: 2px;
        height: 10px;
    }

    .Checkbox-container {
        line-height: 26px;
    }
}