
  .Categories{
      width: 320px;
      background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .Categories_open {
    padding-left: 25px;
    margin-bottom: 35px;
  }
  
  .Categories-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 60px;
  }
  
  .Heading-side_lg {
    font-weight: 500;
    font-size: 25px;
    margin: 35px 0 35px 0;
    
  }
  .Categories-checkboxes {
    padding-left: 25px; 
  }
  
  .Heading-side_md {
    font-weight: normal;
    font-size: 19px;
    cursor: pointer;
    margin:  0 0 30px 0;
  }
  
  .Heading-side_sm {
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    margin: 0 0 15px 0;
    
  }
  .Checkbox-container {
      display: block;
    position: relative;
    
    padding-left: 45px;
    margin-bottom: 20px;
    cursor: pointer;
    line-height: 30px;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .Checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .Checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
        border: solid 2px #eee;
  
  }
  .Checkbox-container:hover {
    color: #000;
  }
  .Checkbox-container:hover input ~ .Checkmark {
      border: solid 2px #353232; 
  
  }
  .Checkbox-container:hover input ~ .Checkmark:after {
      border-color: #353232;
  
  }
  .Checkbox-container input:checked {
      color: #000;
  }
  .Checkbox-container input:checked ~ .Checkmark {
    background-color: #fff;
    
    border: solid 2px #353232;
  }
  
  .Checkmark:after {
    content: "";
    position: absolute;
    border: solid #eee;
  }
  
  
  .Checkbox-container input:checked ~ .Checkmark:after {
    display: block;
      border-color: #000;
  
  }
  
  .Checkbox-container .Checkmark:after {
    left: 8px;
    top: 3px;
    width: 7px;
    height: 12px;
    border: solid #eee;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .Heading_more {
    margin: 0;
    margin-left: -60px;
    margin-top: 10px;
    font-weight: normal;
    cursor: pointer;
  font-size: 14px;
  text-align: center;
    color: #878787;
  }
  
  .Size-box {
    position: relative;
    width: 65px;
  height: 41px;
    cursor: pointer;
    border: 2px solid #7D7575;
  box-sizing: border-box;
  border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  
  .Size-box:hover {
    background-color: #7D7575;
    color: #fff;
  }
  
  .Size-text {
    font-weight: normal;
  font-size: 19px;
    position: absolute;
    line-height: 38px;
    
  }
  .col {
    display: flex;
    flex-direction: column;
  }
  .row {
    display: flex;
  }
  .Size-row {
    display: flex;
  }
  
  .Colors-col {
    width: 30px;
    height: 30px;
    margin: 0 16px 16px 0;
    border-radius: 100%;
    cursor: pointer;
  }
  
  .Colors-col:hover {
    
  }
  
  .blue {
      background: #2B4BBB;
    }
    .white {
      background-color: white;
      border: solid 0.5px #424242;
    }
    .red {
      background: #C12929;
    }
    .green {
      background: #1CA75C;
    }
    .black {
      background: #222222;
    }
  .yellow {
    background: #CDE538;
  }
  .magenta {
    background: #CF2069;
  
  }
  .purple {
    background: rebeccapurple;
  
  }
  .deep-blue {
    background: #0C239D;
  }
  .bloody {
    background: #A73737;
  }
  
 
@media only screen and (max-width: 600px) {
    .Categories {
        display: none;
    }
}