.Icon_search svg{
    height: 20px;
    width: 20px;
    display:flex;
    position:absolute;
  }
  .Icon_search{
    height: 20px;
    width: 20px;
    display:flex;
    fill: #272727;
    margin-left: 10px;
  }
  .Search-container {
    display: flex;
    width: 83%;
    height: 55px;
    border-radius: 0 5px 5px 0;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

.Search-bar {
    width: 95%;
    position:relative;
    margin-left: 15px;
    border: 0;
    height: 33px;
    color: #222222;
    text-decoration: none;
  }
  .Search-bar::placeholder {
     color: #222222;
  
  }
  .Search-container input[type="text"] {
      font-family: Montserrat;
        font-size:18px;
  
  
  }
  .Search-bar:focus {
    border-color: inherit; -webkit-box-shadow: none; box-shadow: none; outline: none;
  }

  @media only screen and (max-width: 800px) {
    .Search-container {
      border-radius: 0;
      flex-direction: row;
      background:  inherit;
      width: 100%;
      justify-content: flex-end;
    }
    .Search-bar {
      color: #fff;
      background: inherit;
      border-bottom: solid #fff;
    }
    .Search-bar::placeholder {
      color: #fff;
   
   }
   .Icon_search {
    width: 25px;
    height: 30px;
   }
   .Icon_search svg{
     fill: #fff;
     width: 25px;
     height: 30px;
   }
   .Icon_search:hover .Search-bar {
     display: block;
   }

}