.Header {
  height: 120px;
  width: 100%;
  line-height: 120px;
  z-index: 10000;
  position: fixed;
  color: #ffffff;
  background-color: #222222;
}


@media only screen and (max-width: 800px) {
  .Bullet-container li {
    display: none;
  }
  .Header{
    line-height: 0;
    height: 100px;

  }
  .Logo {
    line-height: 125px;
  }
  .Icon_menu {
    display: block;
  }
}
