  .CartModal-close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
}
.CartModal-close:hover {
    opacity: 0.3;
  }
  .CartModal-close:before, .CartModal-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
  }
  .CartModal-close:before {
    transform: rotate(45deg);
  }
  .CartModal-close:after {
    transform: rotate(-45deg);
  }
  

@media only screen and (max-width: 800px) {
    .CartModal-container {
        
    }

}