.Footer {
  height: 50vh;
  background-color: #222222;
  color: #eeeeee;
  width: 100%;
}
.Footer-container {
  display: flex;
  height: 100%;
}
.Divider {
  height: 200px;
}
.column {
  display: flex;
  flex-direction: column;
}
.column-item {
  margin-bottom: 15px;
}
.Footer-left {
  align-items: center;
  justify-content: center;
  width: 50%;
  flex-direction: column;
  height: 100%;
  display: flex;
}
.Footer-right.Footer-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 100%;
}
.row {
  display: flex;
}
.Footer-para {
  font-size: 20px;
  font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));

}
.Footer-heading_md {
  font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
}
.Footer-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .Footer-right.Footer-right {
    display: none;
  }
  .Footer {
    height: 200px;
  }
  .Footer-text-container {
    flex-direction: row;
  }
  .Footer-text-container .Logo {
      line-height: 0;
  }
  .Footer-container {
    justify-content: center;

  }
  .Footer-left {
    width: 80%;
  }
  .Footer-para {
  }
}