
  .Product-row_mobile {
    display: flex;
    text-align: center;
    vertical-align: middle;
    margin: 30px 5px 30px 15px;
  }

  .Product-type_mobile {
    line-height: 34px;
    font-size: 14px;
    color: #6f6e6e;
    padding-top: 0px;
  }
  .Product-price_mobile.Product-price_mobile {
    color: #6f6e6e;
  }
  .Product-item_mobile {
    background-color: #fff;
    border-radius: 15px;
    color: #000;
    box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.25);
    }
  .Product-item_mobile:hover {
  }
 
  .Product-item_mobile > * {
    border-radius: 15px 15px 0 0;
  }
  .Product-image_mobile {
    z-index: 50;
  }
  .Product-image_mobile img {
    border-radius: 15px 15px 0 0;
  }
  .Product-categories.Product-categories_mobile {
    font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 10px;
    margin-top: 20px;
    color: #000000;
  }
  
  .Product-color-item_mobile {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-right: 10px;
  }
  .blue{
    background-color: #018cb8;
  }
  .white{
    background-color: white;
    border: solid 0.5px #424242;
  }
  .red{
    background-color: #f36354;
  }
  .green{
    background-color: #52cd9e;
  }
  ._black._black{
    color: #222222;
  }
  .Product-color-container_mobile {
    display: flex;
    margin-bottom: 30px;
  }
  .Product-size-item_mobile {
    color: #c8c4c5;
    margin-right: 10px;
  }
  .Product-text_mobile {
    z-index: 100;
    text-align: left;
  }
  .Product-item_mobile img {
    width: 100%;
    height: 100%;
  }
  .Heading_sm_mobile {
    font-weight: 500;
    margin: 0;
    font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
    color: #333333;
  }
  .Product-name_mobileProduct-name_mobile {
    height: 30px;
  }